body {
    background-color: #010101;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    text-align: center;
}

h1 {
    font-size: 150px;
    font-weight: 900;
    margin: 0;
}

img {
    width: 300px;
    margin-top: 50px;
}

.username {
    font-size: 25px;
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.links {
    font-size: 25px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.links a {
    color: white;
    text-decoration: none;
}
.links a:hover {
    color: #999999;
    text-decoration: none;
}
